<div class='col-md-12'>

  <div class="table-responsive">
    <h1 style="color:#666"> Our Cool Artists </h1>

    <table class="table table-hover">

      <tr class="small">
        <th> Artist Image </th>
        <th> Name </th>
        <th> Bio </th>
        <th> Actions </th>
      </tr>

      <!-- now rows for each artist, looping over artists -->
      <% @artists.each do |artist| %>
      <tr>
        <td class="col-md-2"> <%= image_tag(artist.image_url, class: 'img-thumbnail img-responsive')  %> </td>
        <td> <%= artist.name %> </td>
        <td> <%= artist.description %> </td>
        <td>
          <%= link_to( 'show', artist_path(artist), class: 'btn btn-default btn-xs') %>
          <%= link_to 'edit', edit_artist_path(artist), class: 'btn btn-success btn-xs' %>
          <%= link_to 'Delete', artist, method: :delete, data: { confirm: 'You sure honey?' }, class: 'btn btn-warning btn-xs' %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
