<div class="container col-xs-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h1> Add a new artist </h1>
  </div>
  <div class="panel-body">
    <%= simple_form_for @artist do |f| %>
      <%= f.input :name, label: false, input_html: { placeholder: 'Name' } %>
      <%= f.input :description, label: false, as: :text, input_html: { placeholder: "Artist Bio" } %>
      <%= f.input :image_url, label:false, input_html: { placeholder: 'Image url' } %>
      <%= f.submit "Submit".html_safe, class: "btn btn-lg btn-danger" %>
    <% end %>
  </div>
</div>
</div>
